@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LomoCopy';
    src: url('./assets/font/LomoCopy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LomoCopy';
    src: url('./assets/font/LomoCopy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}